/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* *************** user-defined as shown below ****************** */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Microsoft JhengHei", "微軟正黑體";
}

.wrap {
	max-width: 1080px;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	.logo a {
		display: block;
		text-decoration: none;
		width: 250px;
		height: 250px;
		background: url(https://upload.cc/i1/2021/10/18/tLNrBE.png) no-repeat;
		overflow: hidden; // 含此以下三行 必加, 為實務上正規作法.
		text-indent: 101%;
		white-space: nowrap;
	}
}

.menu {
	align-self: flex-start;
	display: flex;

	li {
		width: 100px;
		margin-left: 1px;

		a {
			display: block;
			text-decoration: none;
			padding: 10px 0;
			color: white;
			background: #339afe;
			font-weight: 900;
			text-align: center;

			&:hover {
				color: #339afe;
				background: #88c3fd;
			}
		}
	}
}

.main {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;

	.content {
		margin-right: 5%;
		padding: 10px;
		border: 2px solid black;

		h2 {
			margin: 30px 0;
			font-size: 24px;
			font-weight: 900;
		}
	
		p {
			margin-bottom: 30px;
			line-height: 30px;
		}
	}

	.banner {
		align-self: flex-start;
		border: 2px solid black;

		img {
			padding: 5px;
			max-width: 100%;
			height: auto;
		}
	}
}

.footer {
	margin: 10px 0;
	text-align: center;
}

@media (max-width: 768px) {
	.nav {
		flex-direction: column;
		margin-top: 0;

		.logo a {
			margin: 30px auto 30px auto;
			width: 150px;
			height: 150px;
			background: url(https://upload.cc/i1/2021/10/18/vT8UIK.png) no-repeat;
		}
	}

	.menu {
		flex-direction: column;
		width: 100%;
		
		li {
			width: 90%;
			margin: 5px auto;

			a {
				border-radius: 5px;
			}
		}
	}

	.main {
		flex-direction: column;
		
		.content, .banner {
			border: none;
		}

		.banner {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}
	}
}

// * {
// 	outline: 1px solid;
// }